* {
                margin: 0px;
                padding: 0px;
            }
            #logo { background: black; height:100px;}
            #logout { background: black; height:89px;}
            #logo h1 { color: #a4bccd; font-family: "Century Gothic"; font-weight: "bold"; font-size: 50px; margin-top: 10px;} 
            #border{ border-top:solid #68cbf5 5px;}
            #profileInfo{height:300px; background: #fb3364;}
            #memberPhoto {height:300px; background: #999999;}
            #notifications {height:300px; width:360px; background: #6aaeaa;}
            #nav {float: right; font-family: "arial"; list-style: none; margin-top: 30px;}
            #nav ul{list-style: none; margin-right:20px;}
            #nav li {display: inline; margin-right: 7px; text-decoration: none;}
            #nav a{text-decoration: none; color: #bbbbbb; }
            #nav a:hover{ color: white; text-decoration: underline;}
            #ajaxDiv{color: red; margin-left: 80px; font-size: 13px;}
            #header{background-color: black; height:100px; width: 100%;}
            #mainDiv{background-image: url("../imageRes/pattern2.png"); background-repeat: repeat; height: 240px; width: 100%;}
            #mainHeader{margin-top: 70px; font-family: "arial";}
            #mainHeader h1 { font-size: 40px;}
            #mainPhoto{ margin-left: 180px;}
            #lowerBody{background-color: white; height: 640px;}
            #footer {background-color: black; height: 150px;}
            #contactInfo h3{color: white; font-family: "arial";}
            #contactInfo p{color: white; font-family: "arial"; margin-top: 5px;}